@model AtendimentoProntoSocorro.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

    <div class="container">
        <h1>Details</h1>

        <div>
            <h4>Paciente</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RG)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RG)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CartaoSUS)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CartaoSUS)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GeneroPaciente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GeneroPaciente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EtiniaPaciente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EtiniaPaciente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Logradouro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Logradouro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroLogradouro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroLogradouro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Complemento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Complemento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Municipio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Municipio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UF)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UF)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CEP)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CEP)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomeMae)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomeMae)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomePai)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomePai)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Responsavel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Responsavel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefone1)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telefone1)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefone2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telefone2)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroProntuario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroProntuario)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RegistroFuncional)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegistroFuncional)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InformacaoComplementar)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InformacaoComplementar)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CPF">Edit</a> |
            <a asp-action="Index">Back to List</a> | 
            <a asp-action="AberturaDeFicha" asp-route-cpf="@Model.CPF" asp-controller="Ficha">Abertura de Ficha</a>
        </div>
    </div>