@model Paciente

@{
    ViewData["Title"] = "Lista";
}

@*<p>
        <a asp-action="Create">Novo Paciente</a>
    </p>*@

    <h1>Cadastro de Paciente</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneroPaciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone2)
                </th>
                <th>
                    @Html.DisplayName("Ações")
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.GeneroPaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Telefone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Telefone2)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@Model.CPF">Edit</a>  |
                    <a asp-action="Details" asp-route-cpf="@Model.CPF">Detalhes</a>
                </td>
            </tr>
        </tbody>
    </table>